ForceSales/force-app/main/default/flows/Integracion_validacion_de_email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Llamada_a_validacion_de_email_nueva</name>
        <label>Llamada a validacion de email nueva</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>LlamadaNuevaIntegracionValidateEmail.Valida email</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Asigna_valores_traidos_de_la_integracion</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>api_key</name>
            <value>
                <elementReference>KEY_API</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>Email_a_validar</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LlamadaNuevaIntegracionValidateEmail.Valida email</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Asigna_valores_traidos_de_la_integracion</name>
        <label>Asigna valores traidos de la integracion</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Calidad_de_email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Llamada_a_validacion_de_email_nueva.2XX.qualityx5fscore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Es_un_email_gratis</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Llamada_a_validacion_de_email_nueva.2XX.isx5ffreex5femail.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Recibe_todos_los_email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Llamada_a_validacion_de_email_nueva.2XX.isx5fcatchallx5femail.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Recomendacion_de_envio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Llamada_a_validacion_de_email_nueva.2XX.deliverability</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Response_code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Llamada_a_validacion_de_email_nueva.responseCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Default_excepcion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Llamada_a_validacion_de_email_nueva.defaultExc</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Integracion de validacion de email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Integracion validacion de email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Llamada_a_validacion_de_email_nueva</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Calidad_de_email</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Default_excepcion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Email_a_validar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Es_un_email_gratis</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EsValido</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Parametro otorgado por Abstract</description>
        <name>KEY_API</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>40af1d1adaa84565bd521ae0d452d30d</stringValue>
        </value>
    </variables>
    <variables>
        <name>Recibe_todos_los_email</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Recomendacion_de_envio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Response_code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
