ForceSales/force-app/main/default/flows/Screen_validation_email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Asigna_rating_a_lead_a_crear</name>
        <label>Asigna rating a lead a crear</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Lead_a_crear.Rating</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hot</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crea_lead_de_alto_puntaje</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asigna_rating_a_lead_a_crear2</name>
        <label>Asigna rating a lead a crear</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Lead_a_crear.Rating</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Warm</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crea_lead_de_bajo_puntaje</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Puntuacion_de_validacion_email</name>
        <label>Puntuacion de validacion email y deliverable?</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Su_puntuacion_es_mayor_a_0_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Integracion_de_validacion_de_email.Calidad_de_email</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.8</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Integracion_de_validacion_de_email.Recomendacion_de_envio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DELIVERABLE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_rating_a_lead_a_crear</targetReference>
            </connector>
            <label>Su puntuacion es mayor a 0.8</label>
        </rules>
        <rules>
            <name>Su_puntuacion_es_mayor_a_0_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Integracion_de_validacion_de_email.Calidad_de_email</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.5</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Integracion_de_validacion_de_email.Recomendacion_de_envio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DELIVERABLE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_rating_a_lead_a_crear2</targetReference>
            </connector>
            <label>Su puntuacion es mayor a 0.5</label>
        </rules>
    </decisions>
    <decisions>
        <name>Response_status</name>
        <label>Response status</label>
        <locationX>930</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Fallo_de_integracion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X200</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Integracion_de_validacion_de_email.Response_code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>200</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Puntuacion_de_validacion_email</targetReference>
            </connector>
            <label>200</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Motivo_contacto</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ProductInterest__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Screen validation email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen validation email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crea_lead_de_alto_puntaje</name>
        <label>Crea lead de alto puntaje</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Fin_de_solicitud</targetReference>
        </connector>
        <faultConnector>
            <targetReference>fallo_de_insert</targetReference>
        </faultConnector>
        <inputReference>Lead_a_crear</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Crea_lead_de_bajo_puntaje</name>
        <label>Crea lead de bajo puntaje</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Fin_de_solicitud_2</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>fallo_de_insert</targetReference>
        </faultConnector>
        <inputReference>Lead_a_crear</inputReference>
    </recordCreates>
    <screens>
        <name>fallo_de_insert</name>
        <label>fallo de insert</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>fallo</name>
            <fieldText>&lt;p&gt;Fallo la creacion del registro, comuniquese con el administrador&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fallo_de_integracion</name>
        <label>Fallo de integracion</label>
        <locationX>1282</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fallointegracion</name>
            <fieldText>&lt;p&gt;Fallo la integracion &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fin_de_solicitud</name>
        <label>Fin de solicitud</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Findesolicitud</name>
            <fieldText>&lt;p&gt;Su solicitud fue ingresada!&lt;/p&gt;&lt;p&gt;Gracias&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fin_de_solicitud_2</name>
        <label>Fin de solicitud 2</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Findesolicitud</name>
            <fieldText>&lt;p&gt;Su solicitud fue ingresada!&lt;/p&gt;&lt;p&gt;Gracias&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Validar_Email</name>
        <label>Validar Email</label>
        <locationX>930</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Integracion_de_validacion_de_email</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Lead_a_crear.Name</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Lead_a_crear.Company</objectFieldReference>
        </fields>
        <fields>
            <name>Validaremail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Lead_a_crear.ProductInterest__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>804</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validar_Email</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Integracion_de_validacion_de_email</name>
        <label>Integracion de validacion de email</label>
        <locationX>930</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Response_status</targetReference>
        </connector>
        <flowName>Integracion_validacion_de_email</flowName>
        <inputAssignments>
            <name>Email_a_validar</name>
            <value>
                <elementReference>Validaremail.value</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Calidad_de_email</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Es_un_email_gratis</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EsValido</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Parametro otorgado por Abstract</description>
        <name>KEY_API</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>40af1d1adaa84565bd521ae0d452d30d</stringValue>
        </value>
    </variables>
    <variables>
        <name>Lead_a_crear</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>Recibe_todos_los_email</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Recomendacion_de_envio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
